<html>
<head>
	<script>
// function showHint() {
//     // debugger
//     console.log('123');
//         var xmlhttp = new XMLHttpRequest();
//         xmlhttp.onreadystatechange = function() {
//             if (this.readyState == 4 && this.status == 200) {
//                 document.getElementById("txtHint").innerHTML = this.responseText;

//                 var category = JSON.parse(this.response);
//                 for (var i = 0; i < category.length; ++i) {
//                     var cate = document.createElement("p");
//                     cate.innerHTML = category[i]['label']
//                     document.body.appendChild(cate);
//                     console.log(category[i]['label']);
//                 }
//             }
//         }
//         xmlhttp.open("GET", "../controller/getRootCategory.php", true);
//         xmlhttp.send();
//     }

</script>
</head>	
<body onload ="setMainContent();">
<p >123</p>

<p>Suggestions: <span id="txtHint"></span></p>
<script src="ajax/setMainContent.js"></script>
</body>
</html>

